<app-header></app-header>
<div class="card-top container-fluid">
    <div class="container d-flex">
        <div class="item" style="padding: 2px;border-radius: 15px;" [ngClass]="filterType == ''? 'selectedTypeHighLight':''">
            <a (click)="filter('')">
                <img src="../../../assets/store.png" alt="">
                <h6>All products</h6>
            </a>
        </div>
        <div class="item" style="padding: 2px;border-radius: 15px;" [ngClass]="filterType == 'Electronics'? 'selectedTypeHighLight':''">
            <a (click)="filter('Electronics')">
                <img src="../../../assets/gadgets.png" alt="">
                <h6>Electronics</h6>
            </a>
        </div>
        <div class="item" style="padding: 2px;border-radius: 15px;" [ngClass]="filterType == 'Fashion'? 'selectedTypeHighLight':''">
            <a (click)="filter('Fashion')">
                <img src="../../../assets/boutique.png" alt="">
                <h6>Fashion</h6>
            </a>
        </div>
        <div class="item" style="padding: 2px;border-radius: 15px;" [ngClass]="filterType == 'Jewellery'? 'selectedTypeHighLight':''">
            <a (click)="filter('Jewellery')">
                <img src="../../../assets/jewelry.png" alt="">
                <h6>Jewellery</h6>
            </a>
        </div>
    </div>
</div>
<div style="display: flex; width: 100%;">
    <ng-container *ngIf="categoryList.length">
        <div style="width: 20%;">
            <div class="card">
                <ng-container *ngFor="let category of categoryList">
                    <div class="card-header mt-3" style="border: 0px;cursor: pointer;"
                        (click)="onFilterCategory(category?.displayName)"
                        [ngClass]="selectedItem == category?.displayName?'selectedClass':''">
                        {{category?.displayName}}
                    </div>
                </ng-container>
            </div>
        </div>
    </ng-container>
    <div [ngClass]="categoryList.length?'widthNotFull':'widthFull'">
        <div class="row" style="display: flex;width: 100%;margin-left: auto;margin-right: auto;justify-content: space-evenly;">
            <ng-container *ngFor="let item of filterCategory | filter:searchKey:'title'">
                <div class="card col-md-3 shadow p-3 m-3 bg-white rounded">
                    <ng-container
                        *ngIf="item?.attachments?.filePath == null || item?.attachments?.filePath == undefined ">
                        <img style="margin-left: auto;margin-right: auto;" src="../../../assets/logo-white.png" alt="">
                    </ng-container>
                    <ng-container
                        *ngIf="item?.attachments?.filePath !== null && item?.attachments?.filePath !== undefined ">
                        <img style="margin-left: auto;margin-right: auto;"
                            src="{{webUrl}}{{item?.attachments?.filePath}}" alt="">
                    </ng-container>
                    <h5 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">
                        {{item.title}}</h5>
                    <p style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">
                        {{item.description}}</p>
                    <p><strong>Price:</strong>{{item.price | currency:"INR":"symbol"}}</p>
                    <button class="btn btn-primary" style="border-radius: 20px;margin-left: auto;background-color:#096a2e;border: #096a2e;"
                        (click)=addtocart(item)>Add to cart</button>
                </div>
            </ng-container>
        </div>
    </div>
</div>